<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bootstrap E-commerce Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    {% include 'MainCSJS.html' %}
  </head>
  <body>
    <div id="top-bar" class="container">
      <div class="row">
        <div class="span4">
          <form method="POST" class="search_form">
            <input
              type="text"
              class="input-block-level search-query"
              placeholder="eg. T-sirt"
            />
          </form>
        </div>
        <div class="span8">
          <div class="account pull-right">
            <ul class="user-menu">
              <li>
                <a href="{{ url_for ('check' , Data=ID) }}">My Account</a>
              </li>
              <li>
                <a href="{{ url_for ('cart' , Data=ID) }}">Your Cart</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="wrapper" class="container">
      <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
          <a href="{{ url_for ('check' , Data=ID) }}" class="logo pull-left"
            ><img
              src="../static/themes/images/logo.png"
              class="site_logo"
              alt=""
              style="width: 150px; height: 45px"
          /></a>
          <nav id="menu" class="pull-right">
            <ul>
              <li><a href="./products.html">FIN</a></li>
              <li><a href="./products.html">S Project High</a></li>
              <li><a href="./products.html">Preduce</a></li>
              <li><a href="./products.html">April</a></li>
              <li><a href="./products.html">WM</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="header_text sub">
        <img
          class="pageBanner"
          src="../static/themes/images/pageBanner.png"
          alt="New products"
        />
        <h4><span>Check Out</span></h4>
      </section>
      <section class="main-content">
        <div class="row">
          <div class="span12">
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a
                    class="accordion-toggle"
                    data-toggle="collapse"
                    data-parent="#accordion2"
                    href="#collapseThree"
                    >Confirm Order</a
                  >
                </div>
                <div id="collapseOne" class="accordion-body in collapse">
                  <div class="accordion-inner">
                    <div class="row-fluid">
                      <div class="control-group">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Image</th>
                              <th>Product Name</th>
                              <th>Quantity</th>
                              <th>Status</th>
                              <th>Unit Price</th>
                              <th>Total</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              {% for mydata in mycart %}
                              <td>
                                <a
                                  href="{{ url_for ('prod_detail' , DataP=mydata, Data=ID ) }}"
                                  ><img
                                    style="width: 200px; height: 200px"
                                    alt=""
                                    src="../static/themes/images/skate/{{ IMG[loop.index - 1] }}"
                                /></a>
                              </td>
                              <td>{{ Datacrat[loop.index - 1] }}</td>
                              <td>{{ check[loop.index - 1] }}</td>
                              <td>{{ status[loop.index - 1] }}</td>
                              <td>{{ Price[loop.index - 1] }}</td>
                              <td>{{ Pricesum[loop.index - 1] }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>{{ sum }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <a
                        href="{{ url_for ('checkout' , Data=ID ) }}"
                        class="btn btn-inverse pull-right"
                      >
                        Confirm order
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="footer-bar">
        <div class="row">
          <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
              <li><a href="./index.html">Homepage</a></li>
              <li><a href="./about.html">About Us</a></li>
              <li><a href="./contact.html">Contac Us</a></li>
              <li><a href="./cart.html">Your Cart</a></li>
              <li><a href="./register.html">Login</a></li>
            </ul>
          </div>
          <div class="span4">
            <h4>My Account</h4>
            <ul class="nav">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Wish List</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </div>
          <div class="span5">
            <p class="logo">
              <img
                src="../static/themes/images/logo.png"
                class="site_logo"
                alt=""
              />
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. the Lorem Ipsum has been the industry's standard dummy
              text ever since the you.
            </p>
            <br />
            <span class="social_icons">
              <a class="facebook" href="#">Facebook</a>
              <a class="twitter" href="#">Twitter</a>
              <a class="skype" href="#">Skype</a>
              <a class="vimeo" href="#">Vimeo</a>
            </span>
          </div>
        </div>
      </section>
      <section id="copyright">
        <span>Copyright 2013 bootstrappage template All right reserved.</span>
      </section>
    </div>
    <script src="themes/js/common.js"></script>
  </body>
</html>
