<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Skate Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    {% include 'MainCSJS.html' %}
  </head>
  <body>
    <div id="top-bar" class="container">
      <div class="row">
        <div class="span4">
          <form action="{{ url_for ('search') }}" method="POST" class="search_form">
            <input
              type="text"
              class="input-block-level search-query"
              id="Name"
              name="Name"
              placeholder="Name Product"
            />
          </form>
        </div>
        <div class="span8">
          <div class="account pull-right">
            <ul class="user-menu">
              <li>
                <a href="{{ url_for ('check') }}">My Account</a>
              </li>
              <li>
                <a href="{{ url_for ('cart') }}">Your Cart</a>
              </li>
              <li><a href="{{ url_for ('checkout') }}">Order History</a></li>
              <li><a href="{{ url_for ('logout') }}">Logout</a></li>
              <li>Credit : {{ credit }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="wrapper" class="container">
      <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
          <a
            href="{{ url_for ('index') }}"
            class="logo pull-left"
            ><img
              src="../static/themes/images/logo.png"
              class="site_logo"
              alt=""
              style="width: 150px; height: 45px"
          /></a>
          <nav id="menu" class="pull-right">
            <ul>
              <li><a href="{{ url_for ('Type', type='FIN') }}">FIN</a></li>
              <li><a href="{{ url_for ('Type', type='S Project High') }}">S Project High</a></li>
              <li><a href="{{ url_for ('Type', type='Preduce') }}">Preduce</a></li>
              <li><a href="{{ url_for ('Type', type='April') }}">April</a></li>
              <li><a href="{{ url_for ('Type', type='WM') }}">WM</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="header_text sub">
        <img
          class="pageBanner"
          src="../static/themes/images/pageBanner.png"
          alt="New products"
        />
        <h4><span>My Account</span></h4>
      </section>
      <section class="main-content">
        <div class="row">
          <div class="span5">
            <!-- span 7-->
            <!-- Left account -->
            <h4 class="title">
              <span class="text"><strong>Information</strong>Form</span>
            </h4>
            <form action="{{ url_for ('Updateuser') }}" method="POST" align="center">
              <fieldset>
                {% for mydata in main %}
                <div class="control-group">
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        {% if loop.index == 1 %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ mydata[0] }} : 
                        {% elif loop.index == 2 %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ mydata[0]
                        }} : {% elif loop.index == 3 %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                        mydata[0] }} : {% elif loop.index == 4 %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ mydata[0]
                        }} : {% elif loop.index == 5 %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                        mydata[0] }} : {% elif loop.index == 6 %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                        mydata[0] }} : {% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Address
                        : {% endif %} {% if loop.index != 7 %} 
                        {% for Str in Data[loop.index - 1] %}
                          {% if mydata[0] == "Username" %}
                          <input
                            type="text"
                            id="{{ mydata[0] }}"
                            name="{{ mydata[0] }}"
                            value="{{ Str }}"
                            readonly
                          />{% else %}
                          <input
                            type="text"
                            id="{{ mydata[0] }}"
                            name="{{ mydata[0] }}"
                            value="{{ Str }}"
                          />
                          {% endif %}
                        {% endfor %}{% else %}{% for Str in Data[loop.index - 1]
                        %}
                        <textarea
                          id="Address"
                          name="Address"
                          rows="4"
                          cols="50"
                        >
                        {{ Str }} </textarea
                        >{% endfor %}{% endif %}
                      </h4></label
                    >
                  </div>
                </div>
                {% endfor %}
                <!-- <div class="control-group">
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
                        <input
                          type="text"
                          id="status"
                          name="status"
                          value=""
                          readonly
                        />
                      </h4></label
                    >
                  </div>
                </div>-->
                <!-- <div class="control-group">
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Status :
                        <input
                          type="text"
                          id="status"
                          name="status"
                          value="User"
                          readonly
                        /></h4
                    ></label>
                  </div>
                </div>

                <div class="control-group">
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Name :
                        <input
                          type="text"
                          id="name"
                          name="name"
                          value="Sumate"
                          readonly
                        /></h4
                    ></label>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp; Surname :
                        <input
                          type="text"
                          id="sname"
                          name="sname"
                          value="Srithong"
                          readonly
                        /></h4
                    ></label>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phone :
                        <input
                          type="text"
                          id="phone"
                          name="phone"
                          value="0882221150"
                          readonly
                        /></h4
                    ></label>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email :
                        <input
                          type="text"
                          id="email"
                          name="email"
                          value="sumate@gmail.com"
                          readonly
                        /></h4
                    ></label>
                  </div>
                </div> -->
                <!-- <div class="control-group">
                  <div class="controls">
                    <label class="control-label" for="address"
                      ><h4>
                        &nbsp;&nbsp; Address :
                        <textarea
                          id="address"
                          name="address"
                          rows="4"
                          cols="50"
                          readonly
                        >
                        Prachinburi 77510 </textarea
                        >
                      </h4></label
                    >
                  </div>
                </div> -->
                <div class="control-group">
                  <input
                    tabindex="3"
                    class="btn btn-inverse large"
                    type="submit"
                    value="Edit Information"
                  />
                  <hr />
                  <p class="reset">
                    Recover your
                    <a
                      tabindex="4"
                      href="#"
                      title="Recover your username or password"
                      >username or password</a
                    >
                  </p>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="span6">
            <!--Right account-->
            <h4 class="title">
              <span class="text"><strong>Credits</strong> Form</span>
            </h4>
            <form action="{{ url_for ('credit') }}" method="post" class="form-stacked">
              <fieldset>
                {% for NE in DataC %}
                <div class="control-group">
                  <!--  ID -->
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        {% if loop.index == 1 %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ID : <input type="text" id="IDUser" name="IDUser" value="{{ NE[0] }}" readonly /></h4>
                  {% elif loop.index == 2 %} Username : <input type="text" id="username" name="username" value="{{ NE[0] }}" readonly /></h4>{% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; credits : 
                        <input
                          type="number"
                          id="credit"
                          name="credit"
                          value="{{ NE[0] }}"
                        /></h4
                    >{% endif %}</label>
                    {% if loop.index == 3 %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input
                      tabindex="9"
                      class="btn btn-inverse large"
                      type="submit"
                      value="Top-Up Credits"
                      align="center"
                    />{% endif %}
                  </div>
                </div>
                {% endfor %}
                <!-- <div class="control-group">
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        Username :
                        <input
                          type="text"
                          id="username"
                          name="username"
                          value="user123"
                          readonly
                        /></h4
                    ></label>
                    <input type="text" placeholder="Enter your username" id="username" class="input-xlarge" readonly>
                  </div>
                </div> -->
                <!-- <div class="control-group">
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Credits :
                        <input
                          type="text"
                          id="credits"
                          name="credits"
                          value="10000"
                          readonly
                        />&nbsp; THB
                      </h4></label
                    >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input
                      tabindex="9"
                      class="btn btn-inverse large"
                      type="submit"
                      value="Top-Up Credits"
                      align="center"
                    />
                  </div>
                </div> -->
                <div class="control-group">
                  <p></p>
                </div>
                <hr />
              </fieldset>
            </form>
          </div>
        </div>
      </section>
      <section id="footer-bar">
        <div class="row">
          <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
              <li><a href="{{ url_for ('index') }}">Homepage</a></li>
              <li><a href="{{ url_for ('index') }}">About Us</a></li>
              <li><a href="{{ url_for ('index') }}">Contac Us</a></li>
              <li><a href="{{ url_for ('cart') }}">Your Cart</a></li>
            </ul>
          </div>
          <div class="span4">
            <h4>My Account</h4>
            <ul class="nav">
              <li><a href="{{ url_for ('check') }}">My Account</a></li>
              <li><a href="{{ url_for ('checkout') }}">Order History</a></li>
              <li><a href="{{ url_for ('cart') }}">Wish List</a></li>
              <li><a href="{{ url_for ('index') }}">Newsletter</a></li>
            </ul>
          </div>
          <div class="span5">
            <p class="logo">
              <img
                src="../static/themes/images/logo.png"
                class="site_logo"
                alt=""
              />
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. the Lorem Ipsum has been the industry's standard dummy
              text ever since the you.
            </p>
            <br />
            <span class="social_icons">
              <a class="facebook" href="#">Facebook</a>
              <a class="twitter" href="#">Twitter</a>
              <a class="skype" href="#">Skype</a>
              <a class="vimeo" href="#">Vimeo</a>
            </span>
          </div>
        </div>
      </section>
      <section id="copyright">
        <span>Copyright 2013 bootstrappage template All right reserved.</span>
      </section>
    </div>
    <script src="themes/js/common.js"></script>
    <script>
      $(document).ready(function () {
        $("#checkout").click(function (e) {
          document.location.href = "checkout.html";
        });
      });
    </script>
  </body>
</html>
