<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Skate Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    {% include 'MainCSJS.html' %}
  </head>
  <body>
    <div id="top-bar" class="container">
      <div class="row">
        <div class="span4">
          <form action="{{ url_for ('search') }}" method="POST" class="search_form">
            <input
              type="text"
              class="input-block-level search-query"
              id="Name"
              name="Name"
              placeholder="Name Product"
            />
          </form>
        </div>
        <div class="span8">
          <div class="account pull-right">
            <ul class="user-menu">
              <li>
                <a href="{{ url_for ('check') }}">My Account</a>
              </li>
              <li>
                <a href="{{ url_for ('cart') }}">Your Cart</a>
              </li>
              <li>
                <a href="{{ url_for ('checkout') }}">Order History</a>
              </li>
              <li><a href="{{ url_for ('logout') }}">Logout</a></li>
              <li>Credit : {{ session["credit"] }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="wrapper" class="container">
      <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
          {% if ID != 0 %}
          <a href="{{ url_for ('index') }}" class="logo pull-left">
          {% else %}
          <a href="{{ url_for ('index') }}" class="logo pull-left">
          {% endif %}
          <img src="../static/themes/images/logo.png" class="site_logo" alt="" style="width:150px;height:45px;"/>
          </a>
          <nav id="menu" class="pull-right">
            <ul>
              <li><a href="{{ url_for ('Type', type='FIN') }}">FIN</a></li>
              <li><a href="{{ url_for ('Type', type='S Project High') }}">S Project High</a></li>
              <li><a href="{{ url_for ('Type', type='Preduce') }}">Preduce</a></li>
              <li><a href="{{ url_for ('Type', type='April') }}">April</a></li>
              <li><a href="{{ url_for ('Type', type='WM') }}">WM</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="header_text sub">
        <img
          class="pageBanner"
          src="../static/themes/images/pageBanner.png"
          alt="New products"
        />
      </section>
      <section class="main-content">
        <h4><span>{{ DataProduct[1] }}</span></h4>
        <div class="row">
          <div class="span9">
            <div class="row">
              <div class="span4">
                <a
                  href="../static/themes/images/skate/{{ DataProduct[2] }}"
                  class="thumbnail"
                  data-fancybox-group="group1"
                  title="Description 1"
                  ><img
                    alt=""
                    src="../static/themes/images/skate/{{ DataProduct[2] }}"
                /></a>
                <ul class="thumbnails small">
                  <li class="span1">
                    <a
                      href="../static/themes/images/skate/{{ DataProduct[2] }}"
                      class="thumbnail"
                      data-fancybox-group="group1"
                      title="Description 2"
                      ><img
                        src="../static/themes/images/skate/{{ DataProduct[2] }}"
                        alt=""
                    /></a>
                  </li>
                  <li class="span1">
                    <a
                      href="../static/themes/images/skate/{{ DataProduct[2] }}"
                      class="thumbnail"
                      data-fancybox-group="group1"
                      title="Description 3"
                      ><img
                        src="../static/themes/images/skate/{{ DataProduct[2] }}"
                        alt=""
                    /></a>
                  </li>
                  <li class="span1">
                    <a
                      href="../static/themes/images/skate/{{ DataProduct[2] }}"
                      class="thumbnail"
                      data-fancybox-group="group1"
                      title="Description 4"
                      ><img
                        src="../static/themes/images/skate/{{ DataProduct[2] }}"
                        alt=""
                    /></a>
                  </li>
                  <li class="span1">
                    <a
                      href="../static/themes/images/skate/{{ DataProduct[2] }}"
                      class="thumbnail"
                      data-fancybox-group="group1"
                      title="Description 5"
                      ><img
                        src="../static/themes/images/skate/{{ DataProduct[2] }}"
                        alt=""
                    /></a>
                  </li>
                </ul>
              </div>
              <!-- Detail สินค้า -->
              <div class="span5">
                <address>
                  <strong>Brand:</strong> <span>{{ DataProduct[6] }}</span><br />
                  <strong>Product Code:</strong>
                  <span>{{ DataProduct[0] }}</span><br />
                  <strong>Reward Points:</strong> <span>0</span><br />
                  <strong>Availability:</strong>
                  <span>{{ DataProduct[4] }}</span><br />
                </address>
                <h4><strong>{{ DataProduct[3] }} ฿ THB</strong></h4>
              </div>
              <div class="span5">
                <form
                  action="{{ url_for ('insertcart') }}"
                  class="form-inline"
                  method="POST"
                >
                  <p>&nbsp;</p>
                  <input
                    type="hidden"
                    id="Data"
                    value="{{ ID }}"
                    name="Data"
                  />
                  <input
                    type="hidden"
                    id="credit"
                    value="{{ credit }}"
                    name="credit"
                  />
                  <input
                  type="hidden"
                    id="DataProduct"
                    name="DataProduct"
                    value="{{ DataProduct[0] }}"
                  />
                  <label>Qty:</label>
                  {% if DataProduct[4] != 0 %}
                  <input
                    type="text"
                    id="QTY"
                    class="span1"
                    placeholder="1"
                    hidden
                    value="1"
                    name="QTY"
                  />
                  <button class="btn btn-inverse" type="submit">
                    Add to cart
                  </button>
                  {% else %}
                  <input
                    type="text"
                    id="QTY"
                    class="span1"
                    placeholder="1"
                    hidden
                    value="1"
                    name="QTY"
                    readonly
                  />
                  {% endif %}
                </form>
              </div>
            </div>
            <div class="row">
              <div class="span9">
                <!-- Description สินค้า -->
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a href="#home">Description</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="home">
                    {{ DataProduct[5] }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span3 col">
            <div class="block">
              <ul class="nav nav-list">
                <li class="nav-header">
                  <h4><strong>API</strong> COVID</h4>
                </li>
                <h4>
                  <li>ติดเชื้อสะสม: {{ data[0] }}</li>
                  <br />
                  <li><font color="red">เพิ่มขึ้น </font>: {{ data[1] }}</li>
                  <br />
                  <li>รักษาหายแล้ว : {{ data[2] }}</li>
                  <br />
                </h4>
              </ul>
              <br />
            </div>
          </div>
        </div>
      </section>
      <section id="footer-bar">
        <div class="row">
          <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
              <li><a href="{{ url_for ('index') }}">Homepage</a></li>
              <li><a href="{{ url_for ('index') }}">About Us</a></li>
              <li><a href="{{ url_for ('index') }}">Contac Us</a></li>
              <li><a href="{{ url_for ('cart') }}">Your Cart</a></li>
            </ul>
          </div>
          <div class="span4">
            <h4>My Account</h4>
            <ul class="nav">
              <li><a href="{{ url_for ('check') }}">My Account</a></li>
              <li><a href="{{ url_for ('checkout') }}">Order History</a></li>
              <li><a href="{{ url_for ('cart') }}">Wish List</a></li>
              <li><a href="{{ url_for ('index') }}">Newsletter</a></li>
            </ul>
          </div>
          <div class="span5">
            <p class="logo">
              <img
                src="../static/themes/images/logo.png"
                class="site_logo"
                alt=""
              />
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. the Lorem Ipsum has been the industry's standard dummy
              text ever since the you.
            </p>
            <br />
            <span class="social_icons">
              <a class="facebook" href="#">Facebook</a>
              <a class="twitter" href="#">Twitter</a>
              <a class="skype" href="#">Skype</a>
              <a class="vimeo" href="#">Vimeo</a>
            </span>
          </div>
        </div>
      </section>
      <section id="copyright">
        <span>Copyright 2013 bootstrappage template All right reserved.</span>
      </section>
    </div>
    <script src="themes/js/common.js"></script>
    <script>
      $(function () {
        $("#myTab a:first").tab("show");
        $("#myTab a").click(function (e) {
          e.preventDefault();
          $(this).tab("show");
        });
      });
      $(document).ready(function () {
        $(".thumbnail").fancybox({
          openEffect: "none",
          closeEffect: "none",
        });

        $("#myCarousel-2").carousel({
          interval: 2500,
        });
      });
    </script>
  </body>
</html>
