<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bootstrap E-commerce Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    {% include 'MainCSJS.html' %}
  </head>
  <body>
    <div id="top-bar" class="container">
      <div class="row">
        <div class="span4">
          <form method="POST" class="search_form">
            <input
              type="text"
              class="input-block-level search-query"
              placeholder="eg. T-sirt"
            />
          </form>
        </div>
        <div class="span8">
          <div class="account pull-right">
            <ul class="user-menu">
              <li>
                {% if Data != 0 %}
                <a href="{{ url_for ('myaccount') }}">My Account</a>
                <li><a href="cart">Your Cart</a></li>
                <a href="checkout">Checkout</a>
                {% else %}
                <a href="{{ url_for ('myaccount') }}" hidden>My Account</a>
                {% endif %}
              </li>
              {% if Data != 0 %}
              <li><a href="{{ url_for ('register') }}">Login</a></li>
              {% else %}
              <li><a href="{{ url_for ('register') }}" hidden>Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="wrapper" class="container">
      <section class="navbar main-menu">
        <div class="navbar-inneะr main-menu">
          <a href="/" class="logo pull-left"
            ><img
              src="../static/themes/images//logo.png"
              class="site_logo"
              alt=""
          /></a>
          <nav id="menu" class="pull-right">
            <ul>
              <li>
                <a href="./products.html">Woman</a>
                <ul>
                  <li><a href="./products.html">Lacinia nibh</a></li>
                  <li><a href="./products.html">Eget molestie</a></li>
                  <li><a href="./products.html">Varius purus</a></li>
                </ul>
              </li>
              <li><a href="./products.html">Man</a></li>
              <li>
                <a href="./products.html">Sport</a>
                <ul>
                  <li><a href="./products.html">Gifts and Tech</a></li>
                  <li><a href="./products.html">Ties and Hats</a></li>
                  <li><a href="./products.html">Cold Weather</a></li>
                </ul>
              </li>
              <li><a href="./products.html">Hangbag</a></li>
              <li><a href="./products.html">Best Seller</a></li>
              <li><a href="./products.html">Top Seller</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="header_text sub">
        <img
          class="pageBanner"
          src="../static/themes/images/pageBanner.png"
          alt="New products"
        />
        <h4><span>Login or Regsiter</span></h4>
      </section>
      <section class="main-content">
        <div class="row">
          <div class="span5">
            <!-- Login -->
            <h4 class="title">
              <span class="text"><strong>Login</strong> Form</span>
            </h4>
            <form action="{{ url_for ('login') }}" method="post" align="center">
              <input type="hidden" name="next" value="/" />
              <fieldset>
                <div class="controls">
                  <label class="control-label"
                    ><h4>
                      Username :
                      <input
                        type="text"
                        id="Username"
                        name="Username"
                        value=""
                      /></h4
                  ></label>
                </div>

                <div class="control-group">
                  <!--  Status -->
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp; Password :
                        <input
                          type="Password"
                          id="Password"
                          name="Password"
                          value=""
                        /></h4
                    ></label>
                  </div>
                </div>
                <!---
								<div class="control-group">
									<label class="control-label">Username</label>
									<div class="controls">
										<input type="text" placeholder="Enter your username" id="username" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Password</label>
									<div class="controls">
										<input type="password" placeholder="Enter your password" id="password" class="input-xlarge">
									</div>
								</div>-->
                <div class="control-group">
                  <input
                    tabindex="3"
                    class="btn btn-inverse large"
                    type="submit"
                    value="Sign into your account"
                  />
                  <hr />
                  <p class="reset">
                    Recover your
                    <a
                      tabindex="4"
                      href="#"
                      title="Recover your username or password"
                      >username or password</a
                    >
                  </p>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="span7">
            <!-- Register -->
            <h4 class="title">
              <span class="text"><strong>Register</strong> Form</span>
            </h4>
            <form
              action="{{ url_for ('insertuser') }}"
              method="post"
              align="center"
            >
              <input type="hidden" name="next" value="/" />
              <fieldset>
                <div class="controls">
                  <label class="control-label"
                    ><h4>
                      Username :
                      <input
                        type="text"
                        id="username"
                        name="username"
                        value=""
                      /></h4
                  ></label>
                </div>

                <div class="control-group">
                  <!--  Status -->
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp; Password :
                        <input
                          type="Password"
                          id="password"
                          name="password"
                          value=""
                        /></h4
                    ></label>
                  </div>
                </div>

                <div class="control-group">
                  <!--  Name -->
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Name :
                        <input type="text" id="Name" name="Name" value="" /></h4
                    ></label>
                  </div>
                </div>
                <div class="control-group">
                  <!--  Surname  -->
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp; Surname :
                        <input
                          type="text"
                          id="surname"
                          name="surname"
                          value=""
                        /></h4
                    ></label>
                  </div>
                </div>
                <div class="control-group">
                  <!--  Phone -->
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phone :
                        <input
                          type="text"
                          id="phone"
                          name="phone"
                          value=""
                        /></h4
                    ></label>
                  </div>
                </div>
                <div class="control-group">
                  <!--  Email -->
                  <div class="controls">
                    <label class="control-label"
                      ><h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email :
                        <input
                          type="text"
                          id="email"
                          name="email"
                          value=""
                        /></h4
                    ></label>
                  </div>
                </div>
                <div class="control-group">
                  <!--  Address -->
                  <div class="controls">
                    <label class="control-label" for="address"
                      ><h4>
                        &nbsp;&nbsp; Address :
                        <!--<input type="text" id="address" name="address" value="Prachinburi 77510" readonly>-->
                        <textarea
                          id="address"
                          name="address"
                          rows="4"
                          cols="50"
                        >
                        </textarea></h4
                    ></label>
                  </div>
                </div>
                <div class="control-group">
                  <input
                    tabindex="3"
                    class="btn btn-inverse large"
                    type="submit"
                    value="Register"
                  />
                  <hr />
                  <p class="reset">
                    Recover your
                    <a
                      tabindex="4"
                      href="#"
                      title="Recover your username or password"
                      >username or password</a
                    >
                  </p>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </section>
      <section id="footer-bar">
        <div class="row">
          <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
              <li><a href="./index.html">Homepage</a></li>
              <li><a href="./about.html">About Us</a></li>
              <li><a href="./contact.html">Contac Us</a></li>
              <li><a href="./cart.html">Your Cart</a></li>
              <li><a href="./register.html">Login</a></li>
            </ul>
          </div>
          <div class="span4">
            <h4>My Account</h4>
            <ul class="nav">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Wish List</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </div>
          <div class="span5">
            <p class="logo">
              <img
                src="../static/themes/images/logo.png"
                class="site_logo"
                alt=""
              />
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. the Lorem Ipsum has been the industry's standard dummy
              text ever since the you.
            </p>
            <br />
            <span class="social_icons">
              <a class="facebook" href="#">Facebook</a>
              <a class="twitter" href="#">Twitter</a>
              <a class="skype" href="#">Skype</a>
              <a class="vimeo" href="#">Vimeo</a>
            </span>
          </div>
        </div>
      </section>
      <section id="copyright">
        <span>Copyright 2013 bootstrappage template All right reserved.</span>
      </section>
    </div>
    <script src="themes/js/common.js"></script>
    <script>
      $(document).ready(function () {
        $("#checkout").click(function (e) {
          document.location.href = "checkout.html";
        });
      });
    </script>
  </body>
</html>
